<hr>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="../Trabajador/Informacion">Información personal</a></li>
            <li role="presentation"><a href="../Trabajador/Liquidaciones">Liquidaciones</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="http://i.imgur.com/psJKICg.png" alt="Foto perfil" class="img-circle img-responsive" style="max-width: 50%;">
                </div>
                <div class="col-md-4">
                    <div class="panel-body">
                        <div class="row">
                            <label>Nombre: Elver Galarga Hidura</label>
                        </div>
                        <div class="row">
                            <label>Run: 11.111.111-1</label>
                        </div>
                        <div class="row">
                            <label>E. Civil: Viudo</label>
                        </div>
                        <div class="row">
                            <label>Dirección: Antonio Varas #666</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

